body{
   background-color: #4c9cc8;
}

body, html,.bg-overlay{
    height:100%;
}
/*.bg-overlay {
    background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7));
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #1d485e;
    height: inherit;
    width:100%;
    background-color: #1d485e;height: 100%;z-index: -1
}*/
.landingImg{
    width: 100%;
    max-width: 200px;
    float:left;
}
@media screen and (max-height:700px) {
    .topPara{
        display: none;
    }
  .landingImg {
      width: 110px;!important
  }
    #sacosadinhartieBTN{
        margin-top:2px;
    }
  #twdContactBtn{
        display: none;
    }
  .item>.carousel-caption>h2{
      font-size: 10px;
  }
  .carousel-indicators>li{
      width:5px;
      height: 5px;
  }
}
h1 {

    font-family: Roboto,sans-serif;
    color:white;
    white-space: nowrap;
}
p{
    font-family: Montserrat,sans-serif;
    color:#34495E;
}

#myImg{
    text-decoration: none;
    position: relative;
    -webkit-animation: mymove 5s infinite; /* Safari 4.0 - 8.0 */
    animation: mymove 7s infinite;
}
@-webkit-keyframes mymove {
    0%   {top: 0px;}
    25%  {top: 200px;}
    75%  {top: 50px}
    100% {top: 100px;}
}

/* Standard syntax */
@keyframes mymove {
    0%   {top: 0px;}
    25%  {top: 200px;}
    75%  {top: 50px}
    100% {top: 100px;}
}
.navbar-inverse .navbar-nav>li>a{
    color:white;
}
.jumbotron{
    background-color: white;
    margin-bottom: 0;
}
#jumbotronContainer{
    margin-top: 50px;
    margin-bottom: 50px;
}
a[href^="tel"]{
    color:inherit;
    text-decoration:none;
}