body, html {
    height:100%;
}
.bg-overlay {
    background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7));
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
    height: inherit;
    width:100%;
}


@media screen and (max-width: 768px){

}
h1 {

    font-family: Roboto,sans-serif;
    color:white;
    white-space: nowrap;
}
p{
    font-family: Montserrat,sans-serif;
    color:#34495E;
}

#masterButton{
    background-color: transparent;
    text-decoration: none;
}
.navbar-inverse .navbar-nav>li>a{
    color:yellowgreen;
}
.jumbotron{
    margin-bottom: 0;
}
#jumbotronContainer{
    margin-top: 50px;
    margin-bottom: 50px;
}